/* CSS Document */

:root{
--subm-color_1:#B67700;
--subm-color_2:rgb(167, 132, 67);
--subm-color_3:rgb(228, 170, 62);
}

/*to center elements*/
.centerbtton{
	text-align: center;
}

.center{
	text-align: center;
	align-content: center;
}
/*end of to center elements*/

.formwrap{
	background-color:#A9014B;
	background-size: cover;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 2em;
	margin: 2em auto;
}

/*form button*/
:root{
	--subm-color_1:#B67700;
	--subm-color_2:rgb(167, 132, 67);
	--subm-color_3:rgb(228, 170, 62);
	}

#submit {
	height: 5em;
	width: 10em;
	font: bold 12px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 3em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	display: inline-block;
	color: white;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: var(--subm-color_1);
	border-style: none;
	text-align: center;
	overflow: visible;
	transition: all 0.1 ease-in-out;
   }

   #submit:hover {
		border: none;
		background: var(--subm-color_2);
		box-shadow: 0px 0px 1px #777;
   }

   #submit:active {
		background-color: var(--subm-color_2);	
		color: white;
		box-shadow: none;
	}
	#submit:focus, :active:focus {
		background-color: var(--subm-color_3);
		color: white;
		outline: 5px auto transparent;
	}
	#submit:visited {
		background-color: var(--subm-color_1);
	}
   /*end of form button*/