

#navimage{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: center;
}

.auto_resize{
	height: 20em;
	object-fit: cover;
	object-position: center center;
}

.wrapper{
	position: center center;
	padding: 0 5em 0 5em;
}

.imgcontainer{
	width: 100%;
	height: 300px;	
}

/*navigation button*/
:root{
	--nav-color_1:#A9014B;
	--nav-color_2:rgb(165, 66, 109);
	--nav-color_3:rgb(250, 67, 146);
	}

.navbtn {
	height: 5em;
	width: 10em;
	font: bold 12px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 3em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	display: inline-block;
	color: white;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: var(--nav-color_1);
	border-style: none;
	text-align: center;
	overflow: visible;
}

.navbtn:hover {
	border: none;
	background: var(--nav-color_2);
	box-shadow: 0px 0px 1px #777;
}
.navbtn:active {
	background-color: var(--nav-color_2);	
	color: white;
	box-shadow: none;
}
.navbtn:focus, :active:focus {
	background-color: var(--nav-color_3);
	color: white;
	outline: 5px auto transparent;
}
.navbtn:visited {
	background-color: var(--nav-color_1);
}

/*end of navigation button*/