.fa{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
    color: #444444;
}

.fa-star:before{
    content: "\2605";
}

.checked {
    color: orange;
  }
