<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Simple Theme</title>
<link href="/static/css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="/static/css/form.css" rel="stylesheet" type="text/css">
<link href="/static/css/navimage.css" rel="stylesheet" type="text/css">
<link href="/static/css/review.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="getFoodType();">

<div class="container">
  <header>
    <div class="primary_header">
      <h1 class="title"> Foodar</h1>
    </div>
</header>

  <section>
	<h2 class="noDisplay">Main Content</h2>

    <article class="left_article">

        	<div class="formwrap">
				<form id-"inputform">
			<!-- get input-->

			<div class = "row center">
				<h3>WHAT?</h3>
                <select class="food" name="food" id="food">
                    {% for item in cuisines %}
                        <option value="{{item.name}}">{{item.name}}</option>
                    {% endfor %}
                </select>
						<br>
						<br>
						<br>
			</div>

			<div class = "row center">
				<h3>WHEN?</h3>
            	<input type="date" name="date" id="user_input2">
                <input type="time" name="time" id="user_input4">
				<br>
				<br>
				<br>
			</div>

			<div class = "row center">
				<h3>WHERE</h3>
                <select class="city" name="city" onchange="show_food()" onfocus="this.selectedIndex = 0">
                    <option value="" selected>Choose city</option>
                    {% for city in cities%}
                    <option value="{{city}}">{{city}}</option>
                    {% endfor%}
                </select>
				<br>
				<br>
				<br>

			</div>
		<!-- end of input-->
		<div class="row center" >
			<button type="submit" id="submit" method="post">SUBMIT</button>
		</div>


		</form>

		</div>


	</article>


	<div id= "review_output">

		<aside class="right_article">
			<div class="row">

					<div class="wrapper">
						<div class="imgcontainer">
							<div class="placeholder">
								<img id="navimage" class="auto_resize" src="/static/images/s1.jpg" alt="" >
							</div>
						</div>
					</div>

			</div>

			<div class="row">
			</div>

			<div class="row">
				<!-- <div class="column_half centerbtton">
					<button id="prevbtn" class="navbtn" onclick="prev();">Previous</button >
				</div>
				<div class="column_half centerbtton">
					<button id="nextbtn" class="navbtn" onclick="next();">Next</button>
				</div> -->
			</div>



		<h2 id= "restuarant_name">{{restaurant.name}}</h2>
		  <div class="row">
		  	<div class="column_half">
		  	  <div class="stars"> Rating: {{restaurant.stars}}
                  {%for i in range(restaurant.stars|int)%}
                  <span class="fa fa-star checked"></span>
                  {%endfor%}
                  {%for i in range(5 - restaurant.stars|int)%}
                  <span class="fa fa-star"></span>
                  {%endfor%}
				</div>
		  	  <p class="thumbnail_align">Review count: {{restaurant.review_count}}</p>
		  	</div>
			<div class="column_half">
			  <p class="thumbnail_align">
					Address: {{restaurant.address}}
			  </p>
				<p class="thumbnail_align">
					City: {{restaurant.city}}
			  </p>
			</div>
		  </div>
		  <hr>

		  <h3>Review</h3>
		  <h4 id="review_author">{{review.author}}</h4>
		  <div class="stars">
			Rating: {{review.stars}}
            {%for i in range(review.stars|int)%}
            <span class="fa fa-star checked"></span>
            {%endfor%}
            {%for i in range(5 - restaurant.stars|int)%}
            <span class="fa fa-star"></span>
            {%endfor%}
		  </div>
		  <p id="review_content">
			{{review.text}}
		  </p>
		  <hr>

		<h3>Photos</h3>
		{% for pic in pics %}
			<figure>
				<img src='/static/images/{{pic[0]}}.jpg' alt='' width=''/>
				<figcaption>{{pic[1]}}</figcaption>
			</figure>
		{% endfor %}
			<hr>
		  <h3>Recommended</h3>
	    <h4 class = "recommended">{{reco.place1}}</h4>
	    <h4 class = "recommended">{{reco.place2}}</h4>
	    <h4 class = "recommended">{{reco.place3}}</h4>
	    <h4 class = "recommended">{{reco.place4}}</h4>
	    <h4 class = "recommended">{{reco.place5}}</h4>

	</div>
</aside>
  </section>
<div class="row blockDisplay">
<div class="column_half right_half"> </div>
  </div>
<footer class="secondary_header footer">
    <div class="copyright">&copy;2020 - <strong>CS334 Group project</strong></div>
  </footer>
</div>

<!-- script includes -->
<script type="text/javascript" src="/static/js/photo_nav.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
</body>

</html>
