<head>
        <title>Home</title>
        <link rel="stylesheet" href="static/css/homepage.css">
        <script src="static/js/main.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <div class="formwrap">
            <form id-"inputform">
        <!-- get input-->

        <div class = "row center">
            <h3>WHAT?</h3>
            <div>
                <select class="food" name="food" id="food" hidden>
                    {% for item in cuisines %}
                        <option value="{{item.name}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
                <br>
                <br>
                <br>
        </div>

        <div class = "row center">
            <h3>WHEN?</h3>
            <input type="datetime-local" name="dt" id="user_input2">
            <br>
            <br>
            <br>
        </div>

        <div class = "row center">
            <h3>WHERE</h3>
            <div>
                <select class="city" name="city" onchange="show_food()" onfocus="this.selectedIndex = 0">
                    <option value="" selected>Choose city</option>
                    {% for city in cities%}
                    <option value="{{city}}">{{city}}</option>
                    {% endfor%}
                </select>
            </div>
            <br>
            <br>
            <br>

        </div>
    <!-- end of input-->
    <div class="row center" >
        <button type="submit" id="submit" method="post">SUBMIT</button>
    </div>


    </form>

    </div>
        <!-- <h1>FUN STUFF!!!</h1>
        <form class="" action="index.html" method="get">
            <div>
                <select class="city" name="city" onchange="show_food()" onfocus="this.selectedIndex = 0">
                    <option value="" selected>Choose city</option>
                    {% for city in cities%}
                    <option value="{{city}}">{{city}}</option>
                    {% endfor%}
                </select>
            </div>
            <div>
                <select class="food" name="food" id="food" hidden>
                    {% for item in cuisines %}
                        <option value="{{item.name}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" method="post" id="submit_button"></input>
        </form> -->
    </div>
</body>
